
.button {
    margin-top: 100px;
    align-items: baseline;
}

.button_reg, .button_log, .change_password{
    background: rgb(253, 253, 253);
    border-radius:30px ;
}

.change_password {
    margin-top: 100px;
}

.window{
    background: rgb(0, 140, 255);
}
.edit{

    background: rgb(1, 255, 255);
}

